body {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header,
aside,
article,
div {
	position: relative;
}

main,
footer,
header {
	width: 480px;
	font-size: 25px;
}

span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (min-width: 767px) {
	main,
	footer,
	header {
		width: 960px;
	}

	main {
		display: flex;
	}
}
