.a {
	margin-top: 2rem;
	width: 480px;
	height: 75px;
	border-bottom: none;
}

.b {
	width: 100%;
	height: 150px;
	border-bottom: none;
}

.cd {
	width: 100%;
	height: 250px;
	border: none;
}

.c {
	width: 100%;
	height: 50%;
	border-bottom: none;
}

.d {
	width: 100%;
	height: 50%;
	border-bottom: none;
}

.efgh {
	width: 100%;
	height: 500px;
	border: none;
	display: flex;
	flex-direction: column;
}

.ef {
	width: 100%;
	height: 50%;
	border: none;
	display: flex;
}

.e {
	width: 50%;
	height: 100%;
	border-bottom: none;
	border-right: none;
}

.f {
	width: 50%;
	height: 100%;
	border-bottom: none;
}

.gh {
	width: 100%;
	height: 50%;
	border: none;
	display: flex;
}

.g {
	width: 50%;
	height: 100%;
	border-bottom: none;
	border-right: none;
}

.h {
	width: 50%;
	height: 100%;
	border-bottom: none;
}

.i {
	width: 100%;
	height: 80px;
	margin-bottom: 2rem;
}

@media screen and (min-width: 767px) {
	.a {
		width: 960px;
		height: 100px;
	}

	.b {
		width: 200px;
		height: 600px;
		border-right: none;
		border-bottom: 1px solid black;
	}

	.cd {
		width: 760px;
		height: 200px;
		display: flex;
	}

	.c {
		width: 50%;
		height: 100%;
		border-right: none;
	}

	.d {
		width: 50%;
		height: 100%;
	}

	.efgh {
		width: 760px;
		height: 250px;
		display: flex;
		flex-direction: row;
	}

	.ef {
		width: 50%;
		height: 100%;
		display: flex;
	}

	.e {
		width: 50%;
		height: 100%;
	}

	.f {
		width: 50%;
		height: 100%;
		border-right: none;
	}

	.gh {
		width: 50%;
		height: 100%;
		display: flex;
	}

	.g {
		width: 50%;
		height: 100%;
	}

	.h {
		width: 50%;
		height: 100%;
	}

	.i {
		width: 760px;
		height: 150px;
	}
}
